extends layout
link(href='/public/stylesheets/style.css',rel='stylesheet')

block content
    form(method='post',action='')
        div(class='container')
            label(for='name', class='textWidth') Name:
            input(type='text',name='name',id='name', class='inputWidth')
        input(type='submit',name='submit',value='Add new site').submit-button
    div(class='sites') Edit sites
        each val in sites
            div
                label(class='site') #{val.name}&nbsp
                a(href='/edit?site=#{val.name}') [Edit]
                label &nbsp
                a(href='/delete?site=#{val.name}',style={color:'red'}) [Delete]