body {
    padding-left: 20px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.textWidth {
    width: 90px;
    display:inline-block;
}

.inputWidth {
    width: 400px;
}

.container{
    padding-bottom: 4px;
}

.sites{
    padding-top: 20px;
    padding-bottom: 20px;
}

.site{
    padding-left: 5px;
}